<h2 class="page-header">    List of all the Available Portals   </h2>
<ul class="people_list">

    <ul class="list-group">
    {{#each portals}}
        <li class="list-group-item">
            Portal Name: <button id="testing" name="testing" value="{{this}}" href="#">  {{this.PortalName}} </button>
            <p> Message: {{this.Message}}</p>
            <p> ID: {{this._id}}</p>      </li>

    {{/each}}
    </ul>
</ul>

<!--<div  id="check">-->
    <!--{{ portals.5.Message }}-->
<!--</div>-->

<button id="test1" name="test1" href="#"> Test1 </button>

<script>
    console.log("{{portals.1.Message}}");
    //    alert("{{portals.1.Message}}");

    $(document).ready(function(){

        $("#test").toggle(1000).toggle(1000);
        $("button").hide(300).show(300).hide(300).show(300);

        $("button").on("click", function () {
            var currentPortal = $(this).attr("value");
            console.log("This is the check");
            console.log(currentPortal);
            console.log("This is the check where it ends");
            //alert(currentPortal);

            $.ajax({
                type: 'POST',
//                data: JSON.stringify(currentPortal),
                data: currentPortal,
                dataType: 'json',
                url: '/users/clickedPortal',
                success: function() {
                    console.log('success on clicking portal');
                    //console.log(JSON.stringify(currentPortal));
                },
                error: function () {
                    console.log("There was an error");
                }
            });

        });
    });

</script>
