<div id="site_content">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">


    <link rel="stylesheet" href="/css/popup.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/reveal.css" />
    <!--<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.min.js"></script>-->
    <script type="text/javascript" src="/js/jquery.reveal.js"  ></script>
    <!--<script type="text/javascript" src="/js/jquery-1.4.4.min.js"  ></script>-->

    <style type="text/css">
        body { font-family: "HelveticaNeue","Helvetica-Neue", "Helvetica", "Arial", sans-serif; }
        .big-link { display:block; margin-top: 100px; text-align: center; font-size: 70px; color: #06f; }
    </style>

    <div id="content">

        <p>
        testing
            {{user._id}}
            <br>
            {{user.UserName}}<br>
            {{user.FirsName}}<br>
            {{user.EmailID}}
        </p>

        <h2 class="page-header"> List of all the Available Portals </h2>
        <br>
        <br>
        <form method="post" action="/users/refreshPortalList">
            <button type="submit" id="refreshPortalID"  class="btn btn-primary btn-lg round" value="Refresh Page">Refresh Page</button>
        </form>
        <br>
        <br>



        <ul>
            <ul>
                {{#each portals}}
                    <li>
                        <!--Portal Name: <button id="testing" name="testing" value="{{this}}" href="#">  {{this.PortalName}} </button>-->
                        Portal Name: &ensp;
                        <button class="joinPortalButton btn btn-primary btn-sm round" name="testing"
                                value="{{this._id}}!-@!{{this.PortalName}}!-@!{{this.PortalPassword}}!-@!{{this.TTL}}!-@!{{this.Message}}!-@!{{this.Count}}"
                                href="#">    {{this.PortalName}} </button>

                        <div id="joinPortalButton{{this._id}}" class="verifyPortalClicked">
                            <form id="eachPortalInputData" name="form!=!{{this.PortalName}}">
                                <div class="form-group">
                                    <label> Portal Name: </label>
                                    <input type="text" class="form-control" id="pname" name="pname" placeholder="Portal Name">
                                </div>
                                <div class="form-group">
                                    <label> Portal Password: </label>
                                    <input type="password" class="form-control" id="txtNewPassword" name="password"
                                           placeholder="Portal Password">
                                </div>

                                <div class="form-group">
                                    <label> Confirm Portal Password: </label>
                                    <input type="password" class="form-control" id="txtConfirmPassword" name="cpassword"
                                           placeholder="Confirm Portal Password">
                                </div>

                                <div class="form-group" >
                                    <label> <b> <u> Result: </u> </b> </label>
                                    <input type="text" class="form-control" id="#formLabel!=!{{this.PortalName}}" name="resultOfForm"
                                           placeholder="Enter the Fields Above" readonly>
                                </div>

                                <p class="form-group" id="resultOfSubmit"> </p>

                                <button type="button" class="eachPortalButton btn btn-primary btn-lg round"  value="form!=!{{this.PortalName}}!$&$&$!{{this._id}}" style="float: right;"> Submit
                                </button>
                            </form>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </ul>

        <form method="post" action="/users/refreshPortalList">
            <button type="submit" id="refreshPortalID" class="btn btn-primary btn-lg round" value="Refresh Page">Refresh Page</button>
        </form>
        <br>

        <!--<form method="post" action="/users/checkUpdate">-->
        <!--<button type="submit" class="btn btn-primary btn-lg round" value="Update Page">Update Page</button>-->
        <!--</form>-->
        <br>

        <div class="popup-wrap">
            <div class="popup-box">
                <h2 id="popupTitle"></h2>
                <br>
                <h2 id="popupName"></h2>
                <br>
                <h3 id="popupMessage"></h3>
                <br>
                <h3 id="popUpCountdownNotice">
                    This portal will expire in:</h3><p id="popupCountDown"></p>

                <a class="close-btn popup-close" id="popupClose" href="#">x</a>
            </div>
        </div>

        <a class="btn popup-btn" id="popupClickMe" href="#">Click Me!</a>
        <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script  src="/js/popup.js"></script>

    </div>
</div>

<script type="text/javascript">

    function updatePopUp(data) {

        console.log("Into the updatePopUp");
        console.log(data);
        console.log("Owner ID", data.owner_id);
        console.log("==========");
        console.log("Expire At",data.expire_At);

        var x = setInterval(function() {
            console.log(data.expire_At);
            var a = new Date(data.expire_At);
            var b = new Date();
            console.log("a", a);
            console.log("b", b);
            var distance = a-b;
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            console.log(distance, " ", days, " ",hours, " ",minutes, " ",seconds);

            // Output the result in an element with id="demo"
            document.getElementById("popupCountDown").innerHTML = days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s ";

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("popupCountDown").innerHTML = "EXPIRED";
            }

        }, 1000);

        var popUpTitle = document.getElementById("popupTitle");
        var popUpName = document.getElementById("popupName");
        var popUpMessage = document.getElementById("popupMessage");
        var popupClickMe = document.getElementById("popupClickMe");
        var popUpCountdownNotice = document.getElementById("popUpCountdownNotice");


        popUpTitle.innerHTML = "Owner Of Message is: "+ data.owner_id;
        popUpName.innerHTML = "Portal Name is: "+ data.portalName;
        popUpMessage.innerHTML = "Message for you<br>: "+ data.Message;
        popUpCountdownNotice.innerHTML = "This portal will expire in:";
        popupClickMe.click();

    }

    function comparePasswords(pass1, pass2) {
        return pass1 === pass2;
    }

    function portalNames(name1, name2) {
        return name1 === name2;
    }

    function clearAllFields(formName, reasonValue) {

        document.forms[formName].elements["pname"].value = "";
        document.forms[formName].elements["password"].value = "";
        document.forms[formName].elements["cpassword"].value = "";
        document.forms[formName].elements["resultOfForm"].value = reasonValue;
    }

    function checkFormFields(getFormInput){

        var formName = getFormInput.split("form!=!")[1];
        var portalName = document.forms[getFormInput].elements["pname"].value;
        var portalPasswordEntered  = document.forms[getFormInput].elements["password"].value;
        var confirmPortalPasswordEntered  = document.forms[getFormInput].elements["cpassword"].value;
        var labelID = "#formLabel!=!" +formName ;

        var checkPasswords = comparePasswords(portalPasswordEntered, confirmPortalPasswordEntered);
        var checkNames= portalNames(formName, portalName);

//        console.log("formName: "+ formName + " portalName: "+ portalName  + " cpassword: " + portalPasswordEntered + " password: " + confirmPortalPasswordEntered);

        if (!checkNames){
            console.log("Names entered are not same");
//            document.forms[getFormInput].elements["pname"].value = "";
//            document.forms[getFormInput].elements["password"].value = "";
//            document.forms[getFormInput].elements["cpassword"].value = "";

            clearAllFields(getFormInput, "Names do not match");

            document.getElementById(labelID).removeAttribute("readonly");
//            document.forms[getFormInput].elements["resultOfForm"].value = "Names do not match";
            document.getElementById(labelID).setAttribute("readonly", true);
            return false;
        }

        if (!checkPasswords){
            console.log("Passwords entered are not same");
            clearAllFields(getFormInput, "Passwords entered are not same");

            document.getElementById(labelID).removeAttribute("readonly");
//            document.forms[getFormInput].elements["resultOfForm"].value = "";
            document.getElementById(labelID).setAttribute("readonly", true);
            return false;
        }

        if (checkPasswords && checkNames){
            console.log("Everything is correct!! Redirect it to the next page");
            return portalPasswordEntered;
        }

    }

    $(document).ready(function () {
        $(".verifyPortalClicked").hide();

        $("#popupClickMe").hide();

        $("#popupClose").on('click', function () {
            var refButton = document.getElementById("refreshPortalID");
            refButton.click();
        });

        $(".joinPortalButton").on("click", function () {
            var currentPortal = $(this).attr("value").split("!-@!");

            var idOfSelecedButton = currentPortal[0];
            $("#joinPortalButton" + idOfSelecedButton).toggle('show');
        });

        $(".eachPortalButton").on("click", function () {
            var currentPortalForm = $(this).attr("value").split('!$&$&$!');
//            console.log(currentPortalForm);

            var returnFrontVerification =  checkFormFields(currentPortalForm[0]);
//            console.log(returnFrontVerification);

            if (returnFrontVerification){

                var data = {
                    'portalName' : currentPortalForm[0].split("form!=!")[1],
                    'portalPassword': returnFrontVerification,
                    'portalID': currentPortalForm[1],
                    'user_id': "{{user._id}}"
                };

                $.ajax({
                    type: 'POST',
                    data: data,
                    dataType:'json',
                    url: '/users/validatePortalJoinData'
                }).done( function (data) {
                    console.log("Success begins");
                    console.log(data);
                    updatePopUp(data);
                    console.log("Success ends");
                }).fail(function (error) {
                    console.log("Error begins");
                    clearAllFields(currentPortalForm[0], "Password does not match with the portal Password! Sorry! Try again!!");
                    console.log(error);
                    console.log("Error ends");
                })
            }else {
                console.log("Something went wrong!");
            }
        });
    });


</script>
