<div id="site_content">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <div id="content">

        <h2 class="page-header"> List of all the Available Portals </h2>
        <form method="post" action="/users/refreshPortalList">
            <button type="submit" class="btn btn-primary btn-lg round" value="Refresh Page">Refresh Page</button>
        </form>
        <br>
        <br>

        <ul>
            <ul>
                {{#each portals}}
                    <li>
                        <!--Portal Name: <button id="testing" name="testing" value="{{this}}" href="#">  {{this.PortalName}} </button>-->
                        Portal Name: &ensp;
                        <button class="joinPortalButton btn btn-primary btn-sm round" name="testing"
                                value="{{this._id}}!-@!{{this.PortalName}}!-@!{{this.PortalPassword}}!-@!{{this.TTL}}!-@!{{this.Message}}!-@!{{this.Count}}"
                                href="#">    {{this.PortalName}} </button>

                        <div id="joinPortalButton{{this._id}}" class="verifyPortalClicked">
                            <form id="eachPortalInputData">
                                <div class="form-group">
                                    <label> Portal Name: </label>
                                    <input type="text" class="form-control" name="pname" placeholder="Portal Name">
                                </div>
                                <div class="form-group">
                                    <label> Portal Password: </label>
                                    <input type="password" class="form-control" id="txtNewPassword" name="password"
                                           placeholder="Portal Password">
                                </div>

                                <div class="form-group">
                                    <label> Confirm Portal Password: </label>
                                    <input type="password" class="form-control" id="txtConfirmPassword" name="password"
                                            placeholder="Confirm Portal Password" onChange="checkPasswordMatch();">
                                </div>

                                <div class="form-group" id="divCheckPasswordMatch"> Passwords do not Match!</div>

                                <button type="submit" class="btn btn-primary btn-lg round" onclick="enterPassword();"
                                        style="float: right;"> Submit
                                </button>
                            </form>
                        </div>

                    </li>
                {{/each}}
            </ul>
        </ul>


        <form method="post" action="/users/refreshPortalList">
            <button type="submit" class="btn btn-primary btn-lg round" value="Refresh Page">Refresh Page</button>
        </form>
    </div>
</div>

<script>

    function checkPasswordMatch() {
        var password = $("#txtNewPassword").val();
        var confirmPassword = $("#txtConfirmPassword").val();

        if (password != confirmPassword)
            $("#divCheckPasswordMatch").html("Passwords do not match!");
        else
            $("#divCheckPasswordMatch").html("Passwords match.");
    }

    function enterPassword() {
        console.log("Here I am dude! ");
        console.log(this);
        console.log("!!!!!!!!Here I am dude! ");
        return false;
    }

    $(document).ready(function () {

        $(".verifyPortalClicked").hide();

        $("#txtConfirmPassword").keyup(checkPasswordMatch);

        $(".joinPortalButton").on("click", function () {
            var currentPortal = $(this).attr("value").split("!-@!");

            var idOfSelecedButton = currentPortal[0];
            $("#joinPortalButton" + idOfSelecedButton).toggle('show');

            var portalData = {

                '_id': currentPortal[0],
                'PortalName': currentPortal[1],
                'PortalPassword': currentPortal[2],
                'TTL': currentPortal[3],
                'Message': currentPortal[4],
                'Count': currentPortal[5]
            };

            console.log("This is the check");
            console.log(JSON.parse(JSON.stringify(portalData)));

            //$(this).next("#verifyPortalClicked").toggle(500);

            /*
                        $.ajax({
                            type: 'POST',
                            data: JSON.stringify(portalData),
                            dataType: 'json',
                            url: '/users/clickedPortal'
                        }).done( function (data) {
                            console.log("done check me begins");
                            console.log(data);
                            console.log("success");
                            console.log("done check me begins");
            //              console.log(value);
                        }).fail(function (error) {
                            console.log("check me begins");
                            console.log(error);
                            console.log("check me ends");
                            console.log("failed");
                        })


                        */
        });

//        $("#txtConfirmPassword").onkeyup(function () {
//            checkPasswordMatch();
//        });

//        $('#txtConfirmPassword').on('keyup', function() {
//            checkPasswordMatch();
//        });

//        $("#txtConfirmPassword").keyup(function () {
//            var password = $("#txtNewPassword").val();
//            $("#divCheckPasswordMatch").html(password == $(this).val()
//                    ? "Passwords match."
//                    : "Passwords do not match!"
//            );
//        });

//        $('#txtConfirmPassword').on('keyup', function () {
//            console.log("Comes Here");
//            var password = $("#txtNewPassword").val();
//            $("#divCheckPasswordMatch").html(password == $(this).val()
//                    ? "Passwords match."
//                    : "Passwords do not match!"
//            );
//        });


//        $("#txtConfirmPassword").onkeyup(checkPasswordMatch);

    });

</script>
