<div id="site_content">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <div id="content">

        <h2 class="page-header"> List of all the Available Portals </h2>
        <form method="post" action="/users/refreshPortalList">
            <button type="submit" class="btn btn-primary btn-lg round" value="Refresh Page">Refresh Page</button>
        </form>
        <br>
        <br>

        <ul>
            <ul>
                {{#each portals}}
                    <li>
                        <!--Portal Name: <button id="testing" name="testing" value="{{this}}" href="#">  {{this.PortalName}} </button>-->
                        Portal Name: &ensp;
                        <button class="joinPortalButton btn btn-primary btn-sm round" name="testing"
                                value="{{this._id}}!-@!{{this.PortalName}}!-@!{{this.PortalPassword}}!-@!{{this.TTL}}!-@!{{this.Message}}!-@!{{this.Count}}"
                                href="#">    {{this.PortalName}} </button>

                        <div id="joinPortalButton{{this._id}}" class="verifyPortalClicked">
                            <form id="eachPortalInputData" name="form!=!{{this.PortalName}}">
                                <div class="form-group">
                                    <label> Portal Name: </label>
                                    <input type="text" class="form-control" name="pname" placeholder="Portal Name">
                                </div>
                                <div class="form-group">
                                    <label> Portal Password: </label>
                                    <input type="password" class="form-control" id="txtNewPassword" name="password"
                                           placeholder="Portal Password">
                                </div>

                                <div class="form-group">
                                    <label> Confirm Portal Password: </label>
                                    <input type="password" class="form-control" id="txtConfirmPassword" name="cpassword"
                                           placeholder="Confirm Portal Password">
                                </div>

                                <div class="form-group" >
                                    <label> Result: </label>
                                    <input type="text" class="form-control" id="#formLabel!=!{{this.PortalName}}" name="resultOfForm"
                                           placeholder="Enter the Fields Above" readonly>
                                </div>

                                <p class="form-group" id="resultOfSubmit"> </p>

                                <button type="button" class="btn btn-primary btn-lg round" onclick="checkFormFields('form!=!{{this.PortalName}}', '{{this._id}}');" style="float: right;"> Submit
                                </button>
                            </form>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </ul>

        <form method="post" action="/users/refreshPortalList">
            <button type="submit" class="btn btn-primary btn-lg round" value="Refresh Page">Refresh Page</button>
        </form>
    </div>
</div>


<script type="text/javascript">

    function comparePasswords(pass1, pass2) {
        return pass1 === pass2;
    }

    function portalNames(name1, name2) {
        return name1 === name2;
    }


    function checkFormFields(getFormInput, getCurrentID){

        var formName = getFormInput.split("form!=!")[1];
        var portalName = document.forms[getFormInput].elements["pname"].value;
        var portalPasswordEntered  = document.forms[getFormInput].elements["password"].value;
        var confirmPortalPasswordEntered  = document.forms[getFormInput].elements["cpassword"].value;
        var labelID = "#formLabel!=!" +formName ;

        var checkPasswords = comparePasswords(portalPasswordEntered, confirmPortalPasswordEntered);
        var checkNames= portalNames(formName, portalName);

        if (!checkNames){
            console.log("Names entered are not same");
            document.forms[getFormInput].elements["pname"].value = "";
            document.forms[getFormInput].elements["password"].value = "";
            document.forms[getFormInput].elements["cpassword"].value = "";

            document.getElementById(labelID).removeAttribute("readonly");
            document.forms[getFormInput].elements["resultOfForm"].value = "Names do not match";
            document.getElementById(labelID).setAttribute("readonly", true);
        }

        if (!checkPasswords){
            document.forms[getFormInput].elements["pname"].value = "";
            document.forms[getFormInput].elements["password"].value = "";
            document.forms[getFormInput].elements["cpassword"].value = "";

            document.getElementById(labelID).removeAttribute("readonly");
            document.forms[getFormInput].elements["resultOfForm"].value = "Password and Confirm Password do not match";
            document.getElementById(labelID).setAttribute("readonly", true);
        }

        if (checkPasswords && checkNames){
            console.log("Everything is correct!! Redirect it to the next page");
        }

    }

    $(document).ready(function () {

        $(".verifyPortalClicked").hide();

        $(".joinPortalButton").on("click", function () {
            var currentPortal = $(this).attr("value").split("!-@!");

            var idOfSelecedButton = currentPortal[0];
            $("#joinPortalButton" + idOfSelecedButton).toggle('show');

            var portalData = {

                '_id': currentPortal[0],
                'PortalName': currentPortal[1],
                'PortalPassword': currentPortal[2],
                'TTL': currentPortal[3],
                'Message': currentPortal[4],
                'Count': currentPortal[5]
            };

            console.log(JSON.parse(JSON.stringify(portalData)));

            //$(this).next("#verifyPortalClicked").toggle(500);

            /*
                        $.ajax({
                            type: 'POST',
                            data: JSON.stringify(portalData),
                            dataType: 'json',
                            url: '/users/clickedPortal'
                        }).done( function (data) {
                            console.log("done check me begins");
                            console.log(data);
                            console.log("success");
                            console.log("done check me begins");
            //              console.log(value);
                        }).fail(function (error) {
                            console.log("check me begins");
                            console.log(error);
                            console.log("check me ends");
                            console.log("failed");
                        })


                        */
        });

//        $("#txtConfirmPassword").onkeyup(function () {
//            checkPasswordMatch();
//        });

//        $('#txtConfirmPassword').on('keyup', function() {
//            checkPasswordMatch();
//        });

//        $("#txtConfirmPassword").keyup(function () {
//            var password = $("#txtNewPassword").val();
//            $("#divCheckPasswordMatch").html(password == $(this).val()
//                    ? "Passwords match."
//                    : "Passwords do not match!"
//            );
//        });

//        $('#txtConfirmPassword').on('keyup', function () {
//            console.log("Comes Here");
//            var password = $("#txtNewPassword").val();
//            $("#divCheckPasswordMatch").html(password == $(this).val()
//                    ? "Passwords match."
//                    : "Passwords do not match!"
//            );
//        });


//        $("#txtConfirmPassword").onkeyup(checkPasswordMatch);

    });

</script>
