<h2 class="page-header">    List of all the Available Portals   </h2>
<ul class="people_list">

    <ul class="list-group">
        {{#each portals}}
            <li class="list-group-item">
                <!--Portal Name: <button id="testing" name="testing" value="{{this}}" href="#">  {{this.PortalName}} </button>-->
                Portal Name: <button class="joinPortalButton" id="testing" name="testing" value="{{this._id}}!-@!{{this.PortalName}}!-@!{{this.PortalPassword}}!-@!{{this.TTL}}!-@!{{this.Message}}!-@!{{this.Count}}"
                                     href="#">  {{this.PortalName}} </button>
                <!--<p> Message: {{this.Message}}</p>-->
                <!--<p> ID: {{this._id}}</p>-->

                <div id="verifyPortalClicked" class="verifyPortalClicked">
                    <form method="post">
                        <div class="form-group">
                            <label> Portal Name: </label>
                            <input type="text" class="form-control" name="pname" placeholder="Portal Name" >
                        </div>
                        <div class="form-group">
                            <label> Portal Password: </label>
                            <input type="password" class="form-control" name="password" placeholder="Portal Password" >
                        </div>
                        <div class="form-group">
                            <label> Confirm Portal Password: </label>
                            <input type="password" class="form-control" name="password" placeholder="Confirm Portal Password" >
                        </div>
                        <button   type="submit" class="btn btn-default"   > Submit </button>

                    </form>
                </div>



            </li>
        {{/each}}
    </ul>
</ul>




<button id="test1" name="test1" href="#"> Test1 </button>

<script>
    
    function enterPassword() {
        console.log("Here I am dude! ");
        console.log(this);
        $(".verifyPortalClicked").hide(2000);

        $(".verifyPortalClicked").show(2000);
        console.log("!!!!!!!!Here I am dude! ");
    }

    $(document).ready(function(){

//        $("#test").toggle(1000).toggle(1000);
//        $("button").hide(300).show(300).hide(300).show(300);


//        $("#verifyPortalClicked").show();
//        $(".verifyPortalClicked").hide();

//        $("#joinPortalButton").onclick(function () {
//            $(".verifyPortalClicked").toggle();
//        });

        $(".joinPortalButton").on("click",function () {
            $(".verifyPortalClicked").toggle();
        });

//        $("#joinPortalButton").on('click', function () {
//            $(".verifyPortalClicked").toggle();
//        });


//        $("#verifyPortalClicked").hide();
        $("button").on("click", function () {
            $(this).find("#verifyPortalClicked").toggle();
            var currentPortal = $(this).attr("value").split("!-@!");
//            console.log("This is the check");
//            console.log(currentPortal);

            var portalData = {
                '_id' : currentPortal[0],
                'PortalName' : currentPortal[1],
                'PortalPassword' : currentPortal[2],
                'TTL' : currentPortal[3],
                'Message' : currentPortal[4],
                'Count' : currentPortal[5]
            };

            console.log("This is the check");
            console.log(JSON.parse(JSON.stringify(portalData)));

            //$(this).next("#verifyPortalClicked").toggle(500);

/*
            $.ajax({
                type: 'POST',
                data: JSON.stringify(portalData),
                dataType: 'json',
                url: '/users/clickedPortal'
            }).done( function (data) {
                console.log("done check me begins");
                console.log(data);
                console.log("success");
                console.log("done check me begins");
//              console.log(value);
            }).fail(function (error) {
                console.log("check me begins");
                console.log(error);
                console.log("check me ends");
                console.log("failed");
            })


            */
        });
    });

</script>
